body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    color: rgb(39, 40, 42);
}
.searchbar {
    float: right;
    margin-top: 40px;
}
header img {
    height: 100px;
}
header input[type="search"] {
    margin-left: 20px;
    padding: 5px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    position: relative;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav ul li a:hover, nav ul li:hover > a {
    background-color: #575757;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li a {
    padding: 10px;
}
.title-section {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
.title-section h1 {
    margin: 0;
}
.filter-section {
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9;
}
.filter-section select {
    padding: 10px;
    font-size: 16px;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}
article {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
    display: list-item;
}
article img {
    max-width: 100%;
    height: auto;
}
article a {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: inherit;
    bottom: 0;
}
footer img {
    width: 40px;
    height: 40px;
    margin: 10px;
}