body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}
.login-container {
    background-color: black;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    width: 500px;
    text-align: center;
    color: white;
}
.login-container h1 {
    margin-bottom: 30px;
    color: white;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #555;
    color: white;
}
.login-container button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.login-container button:hover {
    background-color: black;
    color: white;
}
.login-container a {
    display: block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}
